<template>
  <q-page>
    LOS MEDICOS
    <br>
    <!-- <div v-for="medico in medicos" v-bind:key="medico.id">
      Medico: {{ medico.nombre }}
    </div> -->
    <div class="q-ma-lg row justify-start items-start q-gutter-sm">
      <MedicoCard
        v-for="medico in medicos"
        v-bind:key="medico.id"
        :medicoProp="medico"
      />
    </div>

  </q-page>
</template>

<script>
import MedicoCard from '../components/medicos/MedicoCard.vue'

export default {
  name: 'MedicosPage',
  components: {
    MedicoCard
  },
  computed: {
    medicos: function () {
      return this.$store.getters['medicos/getMedicos']
    }
  }
}
</script>
