<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>

  <div id="app">

    <input type="text" placeholder="Titulo para primera persona" v-model="titulo1">
    <hr>
    <label>Nombre 1: </label>
    <nombrecompleto v-bind:titulo="titulo1"></nombrecompleto>
    <hr>
    <label>Nombre 2: </label>
    <nombrecompleto titulo="Sra."></nombrecompleto>
    <hr>
    <label>Nombre 3: </label>
    <nombrecompleto v-bind:datos="datosAlHijo"></nombrecompleto>
    <hr>

  </div>



  <script>

    Vue.component('nombrecompleto', {
      data: function () {
        return {
          nombre: "",
          apellido: "",
          edad: ""
        }
      },
      props: {
        titulo: {
          type: String,
          default: "xx"
        },
        datos: {
          type: Object,
          default: function () {
            return {}
          }
        }
      },
      methods: {
        mostrarNombre: function () {
          return this.titulo + " " + this.nombre + " " + this.apellido
        }
      },
      template: ' \
          <div>       \
            <input type="text" placeholder="Nombre" v-model="nombre"> \
            <input type="text" placeholder="Apellido" v-model="apellido"> \
            <input type="number" placeholder="Edad" v-model="edad"> \
            <br> \
            {{ mostrarNombre() }} <br> \
            {{ datos.valores }} \
          </div> '
    })

    let app = new Vue({
      el: "#app",
      data: {
        titulo1: "Sr.",
        datosAlHijo: {
          valores: [1,2,3,4],
          algoMas: "soy algo mas"
        }
      }
    })

  </script>
</body>

</html>