<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.1.1/vuex.min.js"></script>

</head>
<body>
  

<div id="app">
  {{ contadorActual }}
  <br>
  <ejemplocomp></ejemplocomp>
</div>

<script>
  
  let initialState = {
    contador: 33
  }

  const miStore = new Vuex.Store({
    state: initialState,
    mutations: {
      incrementar: function (state, data) {
        state.contador += data
      },
      decrementar: function (state, data) {
        state.contador--
      }
    }
  })

  Vue.component('ejemplocomp', {
    template: '<div>  \
                  <h3>{{ contadorActualCompo }} </h3> \
                  <button v-on:click="clicBoton" >Incrementar</button>  \
               </div> ',
    computed: {
        contadorActualCompo: function () {
          return this.$store.state.contador
        }
      },
    methods: {
      clicBoton: function () {
        this.$store.commit('incrementar', 2)
      }
    },
  })

  let app = new Vue({
      el: "#app",
      store: miStore,
      data: {
        titulo1: "Sr."
      },
      computed: {
        contadorActual: function () {
          return this.$store.state.contador
        }
      }
    })

</script>

</body>
</html>