<template>
  <q-card bordered>
    <q-img
      src="https://eunamed.com/wp-content/uploads/2021/02/medico-especialista-en-chile-768x512.jpg"
    />
    <q-card-section>
      <div>Nombre: {{ medicoProp.nombre }}</div>
      <div>Apelido: {{ medicoProp.apellido }}</div>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  name: 'MedicoCard',
  props: ['medicoProp']
}
</script>
