<template>
  <q-card bordered class="q-mx-md q-my-sm">
    <q-img
      src="https://eunamed.com/wp-content/uploads/2021/02/medico-especialista-en-chile-768x512.jpg"
    />
    <q-card-section>
      <div>Nombre: {{ medicoProp.nombre }}</div>
      <div>Apelido: {{ medicoProp.apellido }}</div>
    </q-card-section>
    <q-btn
      label="Eliminar"
      icon="delete"
      flat
      color="negative"
    />
    <q-btn
      label="Modificar"
      icon="settings"
      flat
      color="positive"
    />
  </q-card>
</template>

<script>
export default {
  name: 'MedicoCard',
  props: ['medicoProp']
}
</script>
