<template>
  <q-page>
    LOS MEDICOS

    <div class="q-pa-md">
      <q-btn
        icon="person_add"
        label="Agregar medico"
        color="primary"
        v-on:click="verAgregarMedico = true"
      />
    </div>

    <div class="q-ma-lg row justify-start items-start q-gutter-sm">
      <MedicoCard
        v-for="(medico, id) in medicos"
        v-bind:key="id"
        :medicoProp="medico"
        :id="id"
      />
    </div>

    <q-dialog v-model="verAgregarMedico" persistent>
      <EdicionMedico
        @closeEdicionMedico="verAgregarMedico=false"
      />
    </q-dialog>

  </q-page>
</template>

<script>
import MedicoCard from '../components/medicos/MedicoCard.vue'
import EdicionMedico from '../components/medicos/EdicionMedico.vue'

export default {
  name: 'MedicosPage',
  components: {
    MedicoCard,
    EdicionMedico
  },
  data () {
    return {
      verAgregarMedico: false
    }
  },
  computed: {
    medicos: function () {
      return this.$store.getters['medicos/getMedicos']
    }
  }
}
</script>
