<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Intro VueJS</title>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
  <h4>Introduccion a Vue</h4>
  <div id="app">
    {{ nombre }} <br>
    {{ apellido }}
    
    <hr>
    {{ nombreCompleto() }}
    <hr>

    <input type="text" v-model="nombre" >
    <input type="text" v-model="apellido" >

  </div>


  <script>
    // Cree la app vue
    let app = new Vue({
      el: "#app",
      data: {
        nombre: "",
        apellido: ""
      },
      methods: {
        nombreCompleto: function () {
          return this.nombre + " " + this.apellido
        }
      },
    })

  </script>

</body>
</html>