<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Intro VueJS</title>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
  <h4>Introduccion a Vue</h4>
  <div id="app">
    
    {{ metodoUno() }}
    {{ metodoUno() }}
    {{ metodoUno() }}
    {{ computedUno }}
    {{ computedUno }}
    {{ computedUno }}

  </div>


  <script>
    // Cree la app vue
    let app = new Vue({
      el: "#app",
      data: {
        nombre: "",
        apellido: ""
      },
      methods: {
        metodoUno: function () {
          console.log("desde metodo")
          return this.nombre + " " + this.apellido
        }
      },
      computed: {
        computedUno: function () {
          console.log("desde computed")
          return this.nombre + " " + this.apellido
        }
      }
    })

  </script>

</body>
</html>